# Descartar arquivos locais do Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Arquivos de variáveis sensíveis (onde ficam senhas e chaves)
*.tfvars
*.tfvars.json

# Arquivos temporários do sistema
.DS_Store
.env

# arquivos pytest
.pytest_cache/

# arquivos sandbox
sandbox/

# ignorar arquivos de cache e definições de utilizador do Power BI
*.pbi
*.user
.pbi/

# ignorar arquivos de cache de dados local (evita enviar dados reais para o git) 
**/cache.dat

# caso utilize alguma ligação local a teste por arquivo que não queira subir
*.log
